SDK/Utils/DeploymentUpdater/DeploymentUpdate.Service.UI.Interface/Service References/Configuration/DeploymentUpdate.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DeploymentUpdate.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DeploymentUpdate.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMailAddressSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MailAddressSurrogate" nillable="true" type="tns:MailAddressSurrogate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMailAddressSurrogate" nillable="true" type="tns:ArrayOfMailAddressSurrogate" />
  <xs:complexType name="MailAddressSurrogate">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailAddressSurrogate" nillable="true" type="tns:MailAddressSurrogate" />
</xs:schema>